cmake-build-debug
cmake-build-release
.idea
bin/*
bin/cache/*
bin/stream/*
build
build/*
build-*/
src/Version.h
config.cfg
debug.log
*/_*
tests/testFiles/assetTest.*
tests/testFiles/rpcTest.*
!*/.gitkeep
.DS_Store
config.cfg.local
