/* NORMALIZE */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a,
button {
    color: inherit;
}

button {
    background: none;
    cursor: pointer;
}

label {
    cursor: pointer;
}

input {
    appearance: none;
    -webkit-appearance: none;
}

ul {
    list-style: none;
}

input,
button {
    border: none;
}

/* RESPONSIVENESS */

.document {
    width: 100%;
    padding: 0 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .document {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .document {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .document {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .document {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .document {
        max-width: 1320px;
    }
}

@media only screen and (min-resolution: 300dpi),
    only screen and (min-width: 3840px) and (min-height: 2160px) {
    /* Styles for high-resolution 4K screens */
    .document {
        max-width: 1800px;
    }
}

/* GENERAL */

html {
    font-size: 14px;
}

body {
    font-size: 1.1rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding-bottom: 10rem;
}

p,
pre,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0 !important;
}

/* POSITIONING */
.fixed-top,
.fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2000;
}

.fixed-top {
  top: 0;
}

.fixed-bottom {
  bottom: 0;
}

/* CODE BLOCKS */

pre.literal-block {
    font-family: "Courier New", Courier, monospace;
    position: relative;
    background-color: #3f3f3f;
    color: white;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 5px;

    overflow-x: auto; /* Enables horizontal scrolling */
}

.code-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background-color: #313131;
}

.copy-button {
    height: 1.5rem;
    padding: 0 0.5rem;
    color: #cacaca;
    position: absolute;
    top: 0;
    /* Avoid accidentally marking text of copy button */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

tt.literal {
    font-family: "Courier New", Courier, monospace;
    display: inline-block;
    background-color: #3f3f3f;
    color: white;
    padding: 0.3rem;
    border-radius: 5px;
}

/* INDEX NAVIGATION */

.rpc_nav {
    list-style: none;
}

.rpc_nav li a {
    color: #06c;
    font-size: 1.2rem;
}

.rpc_nav li a:hover {
    color: #002352;
}

/* DOCUMENT */

.title {
    text-align: center;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-spacing: 0;

    max-width: 100%;
    width: 100%;
    height: auto;
}

.section::before {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    margin: 2rem 0;
    background-color: #dbdbdb;
}

th {
    padding: .2rem 0;
    background-color: #cacaca;
}

td {
    padding: .1rem 1rem;
}

footer {
    background-color: white;
    height: 4rem;
}

footer .copyright {
    text-align: center;
}